@charset "utf-8";

/*********************************** alert对话框start *************************/
#popup_container {
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	/*border: solid 1px #ffffff;*/
	color: #000;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	overflow:none;
	border-radius: 10px;
}

#popup_title {
	font-size: 14px;
	font-weight: 500;
	line-height: 2.25em;
	color: white;
	background:rgb(98,149,233);
	border: solid 1px rgb(98,149,233);
	margin: 0em;
	padding: 0 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#popup_content {
	background: 16px 16px no-repeat url(../Images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}
#popup_content.alert {
	background-image: url(../Images/info.gif);
}
#popup_content.confirm {
	background-image: url(../Images/important.gif);
}
#popup_content.prompt {
	background-image: url(../Images/help.gif));
}
#popup_message {
	padding-left: 40px;
}
#popup_panel {
	margin: 1em 0em 0em 1em; 
	text-align: center;
}
#popup_panel button{
	height: 20px;
	width: 50px;
	line-height: 20px;
	outline: none;
	border: none;
	color: #fff;
	background: #868282;
	margin-right: 5px;
	padding: 0px;
}
#popup_prompt {
	margin: .5em 0em;
}
/*********************************** alert 对话框end *************************/